name: gh-pages

on:
  push:
    branches:
      - main
  schedule:
    - cron:  '0 0 * * *' # Midnight, every night

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true

    name: Deploy to gh-pages

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          tools: composer:v2

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction --no-progress

      - name: Build satis
        run: |
          mkdir -p public/dist
          ./vendor/bin/satis build ./satis.json ./public
          sed -i -e 's/\(pear-pear\.horde\.org\/.*\)/\L\1/' public/all.json

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: public # The folder the action should deploy.
          CLEAN: true # Automatically remove deleted files from the deploy branch
